.main-container {
    padding: 20px;
    font-family: 'Quantico', sans-serif;
}

.number-to-bit-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #E9E9E9;
    border-radius: 20px;
}

.number-to-bit_label {
    display: block;
    padding-bottom: 20px;
    font-size: 48px;
    text-align: center;
}

.number-to-bit_input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    outline: none;
    border-radius: 15px;
    font-size: 24px;
    border: none;
    color: #868585ef;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(227, 222, 222, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(227, 222, 222, 1);
    box-shadow: 0px 0px 8px 0px rgba(227, 222, 222, 1);
}

.number-to-bit_input::placeholder {
    color: #e3dedeef;
}

.number-to-bit_number-wrapper {
    display: flex;
}

.number-to-bit_button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    font-family: inherit;
    border-radius: 10px;
    outline: none;
    transition: 0.3s ease-in-out;
    margin: 20px auto;
    display: block;
}

.number-to-bit_button:hover {
    background-color: grey;
}